
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
</head>
<body>

       <div class="block-top-auth">
           {% if request.user.is_authenticated %}
           <p><a href="{% url 'logout' %}">Logout</a></p>
               <p><a href="{% url 'profile' %}">Профиль</a> </p>
           {% else %}
           <p><a href="{% url 'login' %}">Login</a></p>
               <p><a href="{% url 'register' %}">Регистрация</a> </p>
           {% endif %}
       </div>
    <h1>Новости</h1>
       {% if request.user.is_authenticated %}
        <a href="{% url 'news-create' %}" type="get">Добавить новость</a>
       {% endif %}
    {% if news %}
    <ul>
        {% for item in news %}
        <li>
            <a href="{% url 'news-detail' item.pk %}">{{ item.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {%  else %}
        <p>Новостей нет</p>
    {% endif %}
</body>
</html>