<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Прошел все курсы Skillbox. Продаю готовые домашние задания</p>

    <ul>
        <li>
            <a href="{% url 'python' %}">Домашние работы по Python</a>
        </li>
        <li>
            <a href="{% url 'java' %}">Домашние работы по JAVA</a>
        </li>
        <li>
            <a href="{% url 'php' %}">Домашние работы по PHP</a>
        </li>
        <li>
            <a href="{% url 'c' %}">Домашние работы C++</a>
        </li>
        <li>
            <a href="{% url 'js' %}">Домашние работы по JS</a>
        </li>
    </ul>

</body>
</html>